<DOCTYPE="stylesheet">

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFBA30;
  color:#FAEFD9;
  min-height: 100vh;
  width: 100%;
  margin:0;
  padding:0;
  overflow-x: hidden;
  box-sizing: border-box;
}

#NavBar {
  display:  flex;
  flex-direction:row;
  justify-content: center;
  gap:1vh;
  padding-top: 2vh;
  padding-bottom:2vh;
  background-color: #FAEFD9;
  color:white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navButton {
  display:flex;
  width:15vh;
  height:10vh;
  align-items: center;
  justify-content: center;
  background-color: #3154E0;
  font-size: 3vh;
  border-radius: 1vh;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#sky {
  display:flex;
  justify-content:center;
  align-text:center;
  background-color:#FFBA30;
  height:20vh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 4vh;
  color:white;
}

#cutefoxboy {
  preserveAspectRatio;
  width:24vh;
  height:30vh;
}

#Ocean {
    background-color:#FFBA30;
    width: 100%;
    margin: 0;
    display:flex;
    align-items: bottom;
  }


  .waveFront {
      opacity: 0.95;
      animation: bob 13s ease-in-out infinite alternate, waveFront 2s ease-in-out infinite alternate;
      d: path("M0 40 Q144 80 288 40 Q432 0 576 40 Q720 80 864 40 Q1008 0 1152 40 Q1296 80 1440 40 V200 H0 Z");
  }

  @keyframes waveFront {
      100% {
          d: path("M0 40 Q144 0 288 40 Q432 80 576 40 Q720 0 864 40 Q1008 80 1152 40 Q1296 0 1440 40 V200 H0 Z");
      }
  }

  .waveMiddle {
      opacity: 0.6;
      transform: translateY(-0.5vh);
      animation: bob 15s ease-in-out infinite alternate, waveMiddle 3s ease-in-out infinite alternate;
      d: path("M0 40 Q144 65 288 40 Q432 15 576 40 Q720 65 864 40 Q1008 15 1152 40 Q1296 65 1440 40 V200 H0 Z");
  }

  @keyframes waveMiddle {
      100% {
          d: path("M0 40 Q144 15 288 40 Q432 65 576 40 Q720 15 864 40 Q1008 65 1152 40 Q1296 15 1440 40 V200 H0 Z");
      }
  }

  .waveBack {
      opacity: 0.3;
      transform: translateY(-1vh);
      animation: bob 20s ease-in-out infinite alternate, waveBack 5s ease-in-out infinite alternate;
      d: path("M0 40 Q144 55 288 40 Q432 25 576 40 Q720 55 864 40 Q1008 25 1152 40 Q1296 55 1440 40 V200 H0 Z");
  }

  @keyframes waveBack {
      100% {
          d: path("M0 40 Q144 25 288 40 Q432 55 576 40 Q720 25 864 40 Q1008 55 1152 40 Q1296 25 1440 40 V200 H0 Z");
      }
  }


#coolDiagonal {
  background-image: linear-gradient(to top, #3456DF,#3456DF);
  height:30vh;
  width 100%;
}



p {
  background-color:inherit;
  text-size-adjust: inherit;
}
